Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-SQLAlchemy
Flask-Login
Flask-WTF
WTForms
python-dotenv
pandas
scikit-learn
numpy
faiss-cpu
pytest
pytest-flask
flake8
black
sentence-transformers
vaderSentiment
gunicorn==20.1.0
flask-swagger-ui
